<!DOCTYPE html>
<!--CU There-->
<html>
	<head>

        
        
	
    </head>
    
	<body>
        

		<form>
			<input type="text" id="fname" name="fname" style=
			"width: 100%;
			padding: 12px 20px;
			margin: 8px 0;
			display: inline-block;
			border: 1px solid #ccc;
			border-radius: 4px;
			box-sizing: border-box;
			font-family: 'Courier New', Courier, monospace;" placeholder="First Name"><br>
			<input type="text" id="email" name="email" style=
			"width: 100%;
			padding: 12px 20px;
			margin: 8px 0;
			display: inline-block;
			border: 1px solid #ccc;
			border-radius: 4px;
			box-sizing: border-box;
			font-family: 'Courier New', Courier, monospace;" placeholder="Email"><br>
			<input type="text" id="lname" name="lname" style=
			"width: 100%;
			padding: 12px 20px;
			margin: 8px 0;
			display: inline-block;
			border: 1px solid #ccc;
			border-radius: 4px;
			box-sizing: border-box;
			font-family: 'Courier New', Courier, monospace;" placeholder="Last Name">
		</form>
    


	</body>

</html>
